extends layout

block content
  h1= title
  p This is my new Pokemon form.
  div
    form(name='newPokemon', action='/pokemon/new', method='post')
      input(type='text', name='name', placeholder='poke')
      input(type='integer', name='cp', placeholder='cp')
      input(type='boolean', name='in_gym', placeholder='in gym')
      input(type='submit', value="add")
